<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Users List</h4>
                <span style="float: right;"><a href="/user/add"><button type="button" class="btn btn-success">Add New</button></a></span>
                <div class="table-responsive m-t-40">                    
                    <table id="myTable" class="table table-bordered table-striped users-table">
                        <thead>
                            <tr>
                              <th>User</th>
                              <th>Email</th>
                              <th>Type</th>
                              <th>Created</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                        <% for(var i=0; i < users.length; i++) { %>
                            <tr>
                            <th><%= users[i].username %></th>
                            <th><%= users[i].email %></th>
                            <th><%= users[i].type %></th>
                            <th><%= users[i].createdAt.toISOString().
                              replace(/T/, ' ').      // replace T with a space
                              replace(/\..+/, '') %></th>
                            <th><a href="/user/edit/<%= users[i].id %>">Edit</a></th>
                            </tr>
                        <% } %>
                          </tbody>
                    </table>
                    
                </div>
                
            </div>
            
        </div>
        <%if (pages > 1) { %>
            <nav style="float: right;">
            <ul class="pagination pagination-gap">
              <li class="disabled page-item">
                <a class="page-link" href="?page=<%= currentPage - 1%>" aria-label="Previous">
                  <span aria-hidden="true">«</span>
                </a>
              </li>
              <% for(var i=1; i <= pages; i++) { %>
              <li class="<%= (currentPage == i) ? 'active' : '' %> page-item"><a class="page-link" href="<%= (currentPage == i) ? 'javascript:void(0)' : '?page='+i %>"><%= i%> </a></li>
              <% } %>
              <li class="page-item">
                <a class="page-link" href="?page=<%= currentPage + 1%>" aria-label="Next">
                  <span aria-hidden="true">»</span>
                </a>
              </li>
            </ul>
          </nav>
        <% } %>
  </div>
</div>

